.main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.profileWrapper {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
  height: 100vh;
  justify-content: center;
  width: 90%;
}

.email {
  font-size: 24px;
}

.division {
  background-color: var(--black);
  margin: 0;
  width: 80%;
}

.btns {
  background: var(--accent-color);
  border: none;
  border-radius: var(--radius);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: var(--primary-color);
  cursor: pointer;
  font-size: 20px;
  padding: 0.3rem 0.6rem;
  transition: 0.1s;
  width: 60%;
}

.btns:active {
  box-shadow: 0 4px 4px var(--black);
}
